---
title: welcome
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Welcome to Aged Spam Help!</h1>
      <p>
        I set this site up as a response to the repeated attempts my elderly mum
        faced from scammers - emails, texts and phone calls. I
        <em>also</em> receive a daily trove of scam emails.
      </p>
      <p>
        What I hope to provide here are some simple tools and snippets of advice
        to help anyone, but especially elderly members of our communities, fight
        and stay protected from becoming victim to a scammer.
      </p>
      <p>
        The material isn't exclusive to this audience so if you're curious about
        how to arm yourself against this modern scourge feel free!
      </p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary"
          >Featured articles</a
        >
        <a href="./blog" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>
    <div>
      <figure class="main-article__figure">
        <img
          src="assets/blog/manAndWomanInLoungeCheckingPhone.jpg"
          alt="a-woman-and-a-man-in-a-living-room"
          class="hero__image"
        />
        <figcaption>
          Photo by
          <a
            href="https://unsplash.com/@keithtanman?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="_blank"
            >Keith Tanner</a
          >
          on
          <a
            href="https://unsplash.com/photos/a-woman-and-a-man-in-a-living-room-iDBf7a9pn7s?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="_blank"
            >Unsplash</a
          >
        </figcaption>
      </figure>
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center">Featured articles</h2>
    <p class="text-center">
      Here is a sample of articles which I feel give you a good idea of what
      this site is all about.
    </p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%} {% include
      'article-snippet.njk' %} {%- endfor %}
    </ul>
  </div>
</section>
